/* wwwroot/css/site.css */

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    color: #495057;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover > tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

/* Custom styles */
.modal-dialog {
    max-width: 800px;
}

body {
    background-color: #f5f5dc; /* Thay đổi mã màu nền tại đây */
    color: #333; /* Màu chữ */
    font-family: Arial, sans-serif;
}

main.pb-3{
    margin: 0 auto;
    margin-left:100px;
    margin-right: 100px;
}

.container {
    text-align: center;
}

h2, h3, h4{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    }

#report p, h4{
    margin-top: 50px;
    margin-bottom: 30px;
}

.navbar {
    background-color: #3c3c3c !important;
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

    .nav-link:hover {
        color: #ffc107 !important;
    }

.btn-logout {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}

    .btn-logout:hover {
        color: #000;
        background-color: #fff;
    }

.card {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card-img-top {
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 1.25rem;
}

@media (max-width: 768px) {
    .navbar-nav {
        background-color: #4a4a4a;
        padding: 10px;
        border-radius: 5px;
    }
}
