@{
    ViewData["Title"] = "Home";
}

<!-- Add Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

<!-- Link to the custom CSS file -->
<link href="~/css/styles.css" rel="stylesheet">

<div class="container mt-5">
    <div class="text-center">
        <h1 class="mt-4">G08 CAFE MANAGER</h1>
        <img src="~/images/b2.jpg" class="img-fluid" alt="Cafe Image" />
    </div>
</div>
